.initial {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding-top: 20pt;
    min-height: 400pt;
}

.initial-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.initial-title h1 {
    font-size: 32pt;
    font-weight: 700;
}

.initial-title p {
    font-size: 15pt;
    font-weight: 700;
}

.initial-action {
    display: flex;
    flex-direction: row;
    width: 250pt;
    justify-content: space-around;
    align-items: center;
    margin: 15pt 0;
}
@media (max-width: 300px) {
    .section-title-icon {
        flex-direction: column;
    }
}

#initial-whatsapp-button {
    margin: 0 10pt;
}
#initial-whatsapp-button:hover {
    opacity: 0.7;
    background-color: rgb(27, 163, 36);
    color: white;
}

#initial-linkedin-button {
    margin: 0 10pt;
}
#initial-linkedin-button:hover {
    opacity: 0.7;
    background-color: rgb(23, 44, 204);
    color: white;
}

.arrow {
    position: absolute;
    transition: ease-in-out 0.6s;
}
@media (max-height: 450px) {
    .arrow {
        display: none;
    }
}